@{
    var vehiclesOnDuty = ViewBag.VehiclesOnDuty as List<FireDepartmentManagerWebApp.Models.Vehicle>;
    string currentDayOfWeek = DateTime.Now.ToString("dddd", new System.Globalization.CultureInfo("en-EN"));
    currentDayOfWeek = char.ToUpper(currentDayOfWeek[0]) + currentDayOfWeek.Substring(1);

    string currentDate = DateTime.Now.ToString("dd.MM.yyyy");
}
<!DOCTYPE html>
<html>

<body>
    <h4>Vehicles On Duty - @currentDayOfWeek (@currentDate)</h4>
    @if (vehiclesOnDuty != null && vehiclesOnDuty.Any())
    {
        <table border="1">
            <thead>
                <tr>
                    <th></th>
                    <th>Vehicle Model</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < vehiclesOnDuty.Count; i++)
                {
                    <tr>
                        <td>@(i+1).</td>
                        <td>‎ @vehiclesOnDuty[i].CarModel</td>
                        <td>‎ ‎ </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No vehicles available.</p>
    }
</body>
</html>
