@{
    ViewData["Title"] = "Privacy Policy";
    DateTime today = DateTime.Today;
}

<h1>@ViewData["Title"]</h1>

<p>Effective Date: @today.ToString("dd-MM-yyyy")</p>

<h2>1. Introduction</h2>

<p>Welcome to Fire Department Manager Web App! We respect your privacy and are committed to protecting it through our compliance with this policy.</p>

<h2>2. Information We Collect</h2>

<p>We may collect personal information from you directly when you visit our site, register for an account, fill out forms, or otherwise interact with us. This information may include:</p>

<ul>
    <li>Contact information (such as name, email address, mailing address, phone number)</li>
    <li>Demographic information (such as age, gender, location)</li>
    <li>Other information relevant to customer surveys and/or offers</li>
</ul>

<h2>3. How We Use Your Information</h2>

<p>We use the information we collect in the following ways:</p>

<ul>
    <li>To provide, operate, and maintain our website and services</li>
    <li>To improve, personalize, and expand our website</li>
    <li>To understand and analyze how you use our website</li>
    <li>To develop new products, services, features, and functionality</li>
    <li>To communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
    <li>To process your transactions and manage your orders</li>
    <li>To comply with legal obligations and resolve any disputes that we may have</li>
</ul>

<h2>4. Security</h2>

<p>We are committed to ensuring that your information is secure. We have implemented suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>

<h2>5. Your Rights</h2>

<p>You have the right to:</p>

<ul>
    <li>Request access to your personal data</li>
    <li>Request correction or deletion of your personal data</li>
    <li>Object to the processing of your personal data</li>
    <li>Request restriction of processing of your personal data</li>
    <li>Request transfer of your personal data</li>
    <li>Withdraw your consent at any time where we rely on your consent to process your personal information</li>
</ul>

<h2>6. Changes to This Privacy Policy</h2>

<p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal, or regulatory reasons.</p>

<h2>7. Contact Us</h2>

<p>If you have any questions about this Privacy Policy, please contact us:</p>

<p>Email: <strong>andyrashev123@icloud.com</strong></p>

<p>This Privacy Policy was last updated on @today.ToString("dd-MM-yyyy").</p>
